.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    &__nav {
        list-style: none;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
        align-items: center;

        &__link:link,
        &__link:visited {
            font-size: 1.4rem;
            color: white;
            text-decoration: none;
            font-family: $font-display;
            text-transform: uppercase;
            text-align: center;

            padding: 1.5rem;
            display: block;
            transition: all .2s;

            &:hover {
                background-color: rgba(#fff, .05);
                // transform: translateY(-3px);
            }
        }
    }
}

.copyright {
    font-size: 1.5rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    text-align: center;

    &--author:link,
    &--author:visited {
        text-decoration: none;
        // text-transform: uppercase;
        color: white;
        display: inline-block;
        // width:10%;
        transition: all .3s;
        padding: 0 .5rem;
        outline: none;

        &:hover {
            transform: skew(2deg, 2deg) scale(1.2);
            margin: 0 2rem;
            background-color: rgba(#fff, .05);


        }
    }
}