.sidebar {

    &__navigation {
        background-color: $color-primary;
        grid-column: sidebar-start / sidebar-end;
        grid-row: 1 / -1;
        // text-align: center;
        display: flex;
        justify-content: center;

    }
}

.nav-btn {
    position: fixed;
    outline: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    background-color: $color-primary;
    height: 6rem;
    width: 6rem;
    margin-top: 1rem;
    cursor: pointer;

    &:hover &__item {

        width: 6rem;

    }

    &:hover &__item::after {
        width: 5rem;
    }

    &:hover &__item::before {
        width: 5rem;
    }
    &__item {
        width: 5rem;
        height: 3px;
        display: block;
        background-color: #fff;
        transition: all .2s ease-out;

        &::before,
        &::after {
            content: "";
            background-color: #fff;
            height: 3px;
            width: 6rem;
            display: block;
            transform: translateY(-50%);
            transition: all .2s ease-out;
        }

        &::before {
            transform: translateY(-1.5rem);
        }

        &::after {
            transform: translateY(1.5rem);
        }
    }

}

.navigation {

    &__nav {
      display: none;
    }

    &__list { 
       
    }

    &__item {}

    &__link {}

}